<div class="navbar navbar-expand-sm navbar-dark navbar-marvel">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <%= link_to root_path, class: "navbar-brand", data: { turbolinks: false } do %>
          <%= image_tag "marvel-logo.png" %>
        <% end %>
      </li>
      <% if user_signed_in? %>

      <li class="nav-item nav-center">
        <%= link_to "Characters", "/characters", class: "nav-link", data: { turbolinks: false } %>
      </li>
      <li class="nav-item nav-center">
        <%= link_to "Comics", "/comics", class: "nav-link", data: { turbolinks: false } %>
      </li>
      <li class="nav-item nav-center">
        <%= link_to "Favorites", "/user_favorites", class: "nav-link", data: { turbolinks: false } %>
      </li>

      <li class="nav-item dropdown">
        <%= image_tag "marvel-icon-avatar.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item", data: { turbolinks: false } %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item", data: { turbolinks: false } %>
        </div>
      </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link", data: { turbolinks: false } %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
